/* Regular */
@font-face {
	src: url("Roboto-Regular.ttf");
	font-family: 'Regular';
	font-weight: 400;
}

/* Thin */
@font-face {
	src: url("Roboto-Thin.ttf");
	font-family: 'Thin';
	font-weight: 100;
}

/* Light */
@font-face {
	src: url("Roboto-Light.ttf");
	font-family: 'Light';
	font-weight: 300;
}

body {
	width: 200px;
	height: 70px;
	background: #70cdff;
}

/* Меню Scrap.tf */
h2 {
	text-align: center;
	font-family: 'Light';
}

/* Изменение страницы */
label {
	font-family: 'Regular';
}